.page-container {
    width: 795px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 40px;
    gap: 10px;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;

    .title {
        text-align: center;
        margin-bottom: 20px;
    }

    .textarea {
        height: 200px;
        padding: 10px;
        font-size: 18px;

        &:focus {
            outline: 0;
           
        }
    }

    .keyboard-container {
        height: 251px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 6px;
        gap: 8px;
        background: #888888;
        border: 2px solid #222222;
        border-radius: 5px;
        align-self: center;

        .row {
            display: flex;
            gap: 6px;

            .key {
                height: 40px;
                color: #ffffff;
                background: #444444;
                border-radius: 3px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                transition: 0.3s;

                &:hover {
                    background-color: rgb(240, 213, 124);
                }

                &:active {
                    background-color: rgb(223, 182, 50);
                    transform: scale(0.9);
                    border-radius: 8px;
                }
            }
            .key-dark {
                font-weight: 600;
                background-color: #222222;
            }
            .highlighted {
                background-color: rgb(223, 182, 50);
                transform: scale(0.9);
                border-radius: 8px;
            }
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-content: center;

        p {
            text-align: center;
        }
    }
}